<div class="container-login">
  <div class="row">
    <div class="col-xl-4 col-md-12 col-md-12 d-block mx-auto">
      <div class="alert alert-danger" role="alert" *ngIf="error">
        <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> -->
        {{error}}
      </div>
      <div class="card mb-0">
        <div class="card-header">
          <h3 class="card-title">Inicia sesión</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label class="form-label text-dark">Usuario</label>
              <input type="email" formControlName="email"  class="form-control"  placeholder="usuario@dominio.com" [ngClass]="{ 'is-invalid state-invalid':  submitted && f.email.invalid }" required>
              <div *ngIf="submitted && f.email.errors">
                <div *ngIf="f.email.errors.required" class="text-danger">Campo requerido</div>
                <div *ngIf="f.email.errors.email" class="text-danger">Debe ser una dirección válida de correo electrónico</div>
              </div>
            </div>
            <div class="form-group">
              <label class="form-label text-dark">Contraseña</label>
              <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" [ngClass]="{ 'is-invalid state-invalid':  submitted && f.password.errors }">
              <div *ngIf="submitted && f.password.errors">
                <div *ngIf="f.password.errors.required" class="text-danger">Campo requerido</div>
                <div *ngIf="f.password.errors.minlength" class="text-danger">Debe tener como mínimo 8 caracteres, al menos un número y una mayúscula</div>
              </div>
            </div>
            <div class="form-group">
              <label class="custom-control custom-checkbox">
                <a href="forgot-password.html" class="float-right small text-secondary mt-1">Olvide mi contraseña</a>
              </label>
            </div>
            <div class="form-footer mt-2">
              <!-- <button class="btn btn-primary btn-block">Iniciar</button> -->
              <input type="submit" value="Iniciar" class="btn btn-primary btn-block">
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>